name: Laravel CI/CD Pipeline

on:
  push:
    branches:
      - main # O la rama que prefieras para el deploy

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '7.4'  # O la versión que estés usando
          extensions: mbstring, bcmath, xml, ctype, json

      - name: Install dependencies
        run: |
          composer install --no-interaction --prefer-dist

      - name: Run tests
        run: |
          php artisan migrate --env=testing
          php artisan test

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main'

    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Set up SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}  # Clave privada SSH configurada en GitHub Secrets

      - name: Deploy to DigitalOcean
        run: |
          ssh -o StrictHostKeyChecking=no root@10.108.0.2 << 'EOF'
            cd /var/www/backend_airbnb
            git pull origin main
            composer install --no-dev --optimize-autoloader
            php artisan migrate --force
            php artisan config:cache
            php artisan route:cache
            php artisan view:cache
          EOF
